<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>QubeSystem</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style">
    <script src="https://browser-update.org/update.js"></script>
</head>
<body ng-controller="mainCtrl">

<input type="text" ng-model="type">
<br>
<input type="text" ng-model="data">
<br>
<button type="button" ng-click="send()">send</button>

<script src="/ng"></script>
<script src="/ngws"></script>
<script src="/app"></script>
</body>
</html>